<h2 class="admin-block-title">Рассылка писем</h2>
<div class="form-edit">
    <?php if(Session::hasFlash('send')): ?>
    <div class="notice">
        <p><?php Session::flash('send'); ?></p>
    </div>
    <?php endif; ?>
    <?php if(Session::hasFlash('nousers')): ?>
    <div class="warning">
        <p><?php Session::flash('nousers'); ?></p>
    </div>
    <?php endif; ?>
    <form action="/admin/subscribe/send" method="post">
        <label>
            Категория
        </label>
        <div class="group">
            <select name='category'>
            <?php for($i=0;$i<count($data['categories']);$i++): ?>
            <option value="<?=$data['categories'][$i]['id']?>"><?=$data['categories'][$i]['category']?></option>
            <?php endfor; ?>
        </select>
        </div>
        <label>
            Текст сообщения
        </label>
        <div class="group">
            <textarea id="answer" required name="text"></textarea>
        </div>
        <input type="submit"/>
    </form>
</div>