<?php if(isset($_SESSION['auth_user'])): ?>
<div class="new_subject block-confirm">
    <h2>Редактирование Email адреса</h2>
    <p><span class="bold"><?=$data['user']['firstname']?></span>, на ваш почтовый адрес отправлено письмо с кодом подтверждения. Введите его в форму </p>
    <div class="category">
        <form action="/user/profile/code/" method="post">
            <table class="table-confirm">
                <tr>
                    <td>
                        <label>
                            Ваш новый Email
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="email" name='email' disabled value="<?=Session::get('email')?>"/>
                    </td>
                </tr>
            </table>
            <br>
            <table class="table-confirm">
                <tr>
                    <td class="code">
                        <label for="code" class="center-block">
                            Ваш код
                        </label>
                        <?php if(Session::hasFlash('wrong_code')): ?>
                        <p class="input-error"><?php Session::Flash('wrong_code') ?></p>
                        <?php endif; ?>
                    </td>
                </tr>
                <tr>
                    <td class="code">
                        <input type="text" name='code' id='code' maxlength="6" required placeholder="Код"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" class='btn-confirm' value="Подтвердить"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<?php endif; ?>