<?php if(isset($_SESSION['auth_user'])): ?>
<div class="new_subject registration">
    <h2>Редактирование пароля</h2>
    <?php if(Session::hasFlash('update')): ?>
    <div class="notice">
        <p><?php Session::flash('update'); ?></p>
    </div>
    <?php endif; ?>
    <div class="category">
        <form action="/user/profile/password/" method='post'>
            <table>
                <tr>
                    <td>
                        <label>
                            Ваш старый пароль
                        </label>
                        <?php if(Session::hasFlash('wrong_pass')): ?>
                        <p class="input-error"><?php Session::Flash('wrong_pass') ?></p>
                        <?php endif; ?>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="password" name='password' maxlength="255" required placeholder="Введите Ваш старый пароль"
                        <?php if(isset($_POST['password'])): ?> value='<?=$_POST['password']?>' <?php endif; ?>/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                            Ваш новый пароль
                        </label>
                        <?php if(Session::hasFlash('password')): ?>
                        <p class="input-error"><?php Session::Flash('password') ?></p>
                        <?php endif; ?>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="password" name='password1' maxlength="255" required placeholder="Введите Ваш новый пароль"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                            Подтвердите пароль
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="password" name='password2' maxlength="255" required placeholder="Введите пароль еще раз"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td class="td-btn">
                        <input type="submit" name='send_reg' value="Отправить"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<?php endif; ?>