<div style="background-color: #f6f6f6; width: 100%; height: 100%; padding: 2px 0;">
    <div style="background-color: #ffffff;
            border: 1px solid #d1d1d1;
            margin: 10px;
            min-height: 100px;
            box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
           ">
        <h1 style="
        font-family: sans-serif;
        font-size: 18px;
        text-align: center;
         color: #37bae2;
        margin: 15px;">Время заходить на форум!!!</h1>
        <img src="http://openforum.com.ua/webroot/images/admin_images/sub.jpg" alt="img" style="width: 100%;"/>
        <div style="padding: 15px;">
            <p style="margin: 10px 0; font-family: 'Arial', sans-serif; font-size: 14px;">Здравствуйте, <b>%name%</b>!</p>
            <p style="margin: 10px 0; font-family: 'Arial', sans-serif; font-size: 14px;">Опубликована новая интересная тема для Вас по категории <b>%category%!</b></p>
            <p style="margin: 10px 0; font-family: 'Arial', sans-serif; font-size: 14px;"><a href="%link%">%title%</a></p>
            <p style="margin: 10px 0; font-family: 'Arial', sans-serif; font-size: 14px;">Дата публикации: <b>%date%</b>.</p>
            <p style="margin: 10px 0; font-family: 'Arial', sans-serif; font-size: 14px;">Если Вам интересна эта тема, перейдите по <a href="%link%">ссылке</a> или зайдите на <a href="http://openforum.com.ua">форум</a>.</p>
            <p style="margin: 10px 0; font-family: 'Arial', sans-serif; font-size: 14px;">Благодарим за внимание!</p>
            <hr style="border-top: 1px solid #f9f9f9">
            <p style="margin: 10px 0; font-family: 'Arial', sans-serif; font-size: 12px; padding-top: 10px; color: #acacac">Администрация сайта <a href="http://openforum.com.ua/">openForum</a> | <a href="%link_unsubscribe%">Отписаться от этой рассылки</a></p>
        </div>
    </div>
</div>