<h2 class="admin-block-title">Редактирование специальности</h2>
<div class="form-edit">
    <?php if(Session::hasFlash('update')): ?>
    <div class="notice">
        <p><?php Session::flash('update'); ?></p>
    </div>
    <?php endif; ?>
    <?php if(Session::hasFlash('wrong_rank')): ?>
    <div class="warning">
        <p><?php Session::flash('wrong_rank'); ?></p>
    </div>
    <?php endif; ?>
    <form action="/admin/rank/edit/<?=$data['rank_id']?>" method="post">
        <label for="category">
            Категория
        </label>
        <div class="group">
            <select name="category" id="category">
                <?php for($i=0;$i<count($data['category']);$i++): ?>
                <option value="<?=$data['category'][$i]['id']?>"
                <?php if($data['category'][$i]['id'] == $data['cat_id']) echo "selected"; ?>><?=$data['category'][$i]['category']?></option>
                <?php endfor; ?>
            </select>
        </div>
        <label for="rank">
            Название специальности
        </label>
        <div class="group">
            <input type="text" name="title" id="rank" required maxlength="255" value="<?=$data['rank']?>" placeholder="Введите специальность"/>
        </div>
        <input type="submit"/>
    </form>
</div>