<?php if(isset($_SESSION['admin_user'])): ?>
<table class="table table-bordered">
    <thead>
    <tr>
        <td class="td-id">
            ID
        </td>
        <td class="td-cat">
            Отправитель
        </td>
        <td class="td-rank">
            Категория
        </td>
        <td class="td-rank">
            Специальность
        </td>
        <td class="td-text">
            Текст
        </td>
        <td class="td-date">
            Дата
        </td>
        <td class="td-user">
            Получатели
        </td>
        <td class="td-action">
            Действие
        </td>
    </tr>
    </thead>
    <tbody>
    <?php for($i=0;$i<count($data['messages']);$i++): ?>
    <tr>
        <td>
            <?=$data['messages'][$i]['id']?>
        </td>
        <td>
            <?=$data['messages'][$i]['lastname']?> <?=$data['messages'][$i]['firstname']?>
        </td>
        <td>
            <?=$data['messages'][$i]['category']?>
        </td>
        <td>
            <?=$data['messages'][$i]['rank']?>
        </td>
        <td>
            <?=htmlspecialchars_decode($data['messages'][$i]['text'])?>
        </td>
        <td>
            <?=$data['messages'][$i]['date']?>
        </td>
        <td>
            <?=$data['messages'][$i]['users']?>
        </td>
        <td class="td-action">
            <a href="/admin/messages/edit/<?=$data['messages'][$i]['id']?>" class="btn btn-primary">Редактировать</a>
            <a href="/admin/messages/delete/<?=$data['messages'][$i]['id']?>" onclick="return confirmDelete();"  class="btn btn-danger">Удалить</a>
            <script>
                function confirmDelete() {
                    if (confirm("Вы подтверждаете удаление?")) {
                        return true;
                    } else {
                        return false;
                    }
                }
            </script>
        </td>
    </tr>
    <?php endfor; ?>
    </tbody>
</table>
<?php endif; ?>