<div class="block-forum">
    <h3>Мои сообщения </h3>
    <table class="table table-bordered">
        <tr class="thead-menu">
            <td colspan="4">
                <a href="" class="btn-category-active">Мои вопросы</a>
                <a href="" class="btn-category">Вопросы мне</a>
            </td>
        </tr>
        <tr class="thead">
            <td class="category">
                <p class="title">Категория</p>
            </td>
            <td class="subject">
                <p class="title">Тема</p>
            </td>
            <td class="answer">
                <p class="title">Получили</p>
            </td>
            <td class="view">
                <p class="title">Ответов</p>
            </td>
        </tr>
        <tr class="tbody">
            <td class="category">
                <p class="title">Кулинария</p>
            </td>
            <td class="subject">
                <div class="author">
                    <span>Вопрос задан: 12.13.17 в 9:42 </span>
                </div>
                <a href="#" class="title">Как приготовить настоящий кавказкий плов?</a>
            </td>
            <td class="answer">
                <p class="title">14</p>
            </td>
            <td class="view">
                <p class="title">43</p>
            </td>
        </tr>
    </table>
    <div class="notice">
        <p><span>Вы еще не создавали новых тем!</span> Для создания новой темы перейдите на главную страницу или же в меню сайта. Если вы не зарегистрированы ваша тема будет опубликована 24 часа. После этого все ваши темы будут удалены. Зарегистрируйтесь для комфортной работы на сайте!</p>
    </div>
</div>