<?php if(isset($_SESSION['auth_user'])): ?>
<div class="block-message" <?php if(Session::hasFlash('nodata')): ?> style='padding-bottom: 0;' <?php endif; ?>>
<h3><?=Session::get('firstname')?>, у Вас
    <?php if(!empty($data['count_messages'])): ?>
    <?=$data['count_messages']?> сообщений
    <?php else: ?>
    нет сообщений
    <?php endif; ?>
</h3>
<div class="header-menu">
    <a href="/">На главную</a>
    <a href="/user/messages/outbox/"
    <?php if(App::getRouter()->getController() == 'messages'&&App::getRouter()->getAction() == 'outbox'): ?>
    class='active-sort'
    <?php endif; ?>
    >Мои вопросы (<?=$data['count_outbox']?>)</a>
    <a href="/user/messages/inbox/"
    <?php if(App::getRouter()->getController() == 'messages'&&App::getRouter()->getAction() == 'inbox'): ?>
    class='active-sort'
    <?php endif; ?>
    >Вопросы мне (<?=$data['count_inbox']?>)</a>
    <a href="<?=$data['prev_uri']?>">На предыдущую страницу</a>
</div>
<?php if(Session::hasFlash('nodata')): ?>
<div class="notice">
    <?php Session::flash('nodata'); ?>
</div>
<?php endif; ?>
<?php if(!empty($data['messages'])): ?>
<div class="table-topics">
    <table class="table">
        <thead>
        <tr class="thead">
            <td class="category">
                <p class="title">Категор./Специал.</p>
            </td>
            <td class="subject">
                <p class="title">Вопрос</p>
            </td>
        </tr>
        </thead>
        <tbody>
        <?php for($i=0;$i<count($data['messages']);$i++): ?>
        <?php
            $date_data = $data['messages'][$i]['date'];
            $date_array = explode(' ', $date_data);
            $date = $date_array[0];
            $time = substr($date_array[1], 0, -3);
            $title_ask = 'Ответить';
            $class_ask = 'link-view';
            for($j=0;$j<count($data['isset_answer']);$j++){
                if($data['isset_answer'][$j]['message_id'] == $data['messages'][$i]['id']){
                    $title_ask = 'Отвечено';
                    $class_ask = 'link-view-active';
                }
            }
        ?>
        <tr>
            <td>
                <p class="title"><?=$data['messages'][$i]['category']?> / <?=$data['messages'][$i]['rank']?></p>
            </td>
            <td class="subject">
                <div class="author">
                    <span>Вопрос задан: <?=$date?> в <?=$time?> </span>
                </div>
                <a href="/user/messages/inview/<?=$data['messages'][$i]['id']?>" class="title"><span class="bold"><?=htmlspecialchars_decode($data['messages'][$i]['text'])?></span></a>
                <a href="/user/messages/inview/<?=$data['messages'][$i]['id']?>" class="<?=$class_ask?>"><?=$title_ask?></a>
                <a href="/user/messages/indelete/<?=$data['messages'][$i]['id']?>" onclick="return confirmDelete();" class="link-delete-simple">Удалить</a>
            </td>
        </tr>
        <?php endfor; ?>
        </tbody>
    </table>
</div>
<?php endif; ?>
<?php endif; ?>