<div class="about">
    <h2>Что такое openForum?</h2>
    <ul>
        <li>
            <p>openForum - это самый быстрый поиск советов</p>
        </li>
        <li>
            <p>openForum - это абсолютно открытый форум. Чем бы вы не занимались, вы найдете здесь интересные темы</p>
        </li>
        <li>
            <p>это возможность создавать темы без регистрации</p>
        </li>
        <li>
            <p>это возможность разсылать вопросы только тем специалистам, которые в этом разбираются</p>
        </li>
    </ul>
    <h2>Какие преимущества регистрации?</h2>
    <ul>
        <li>
            <p>все зарегистрированные пользователи имеют доступ к личному кабинету</p>
        </li>
        <li>
            <p>Ваши темы не удаляются после 24 часов</p>
        </li>
        <li>
            <p>у Вас есть доступ к рассылке сообщений специалистам</p>
        </li>
        <li>
            <p>Вы сможете добавлять в свой список специалистов, которым Вы в любое время сможете задавать вопросы</p>
        </li>
        <li>
            <p>у Вас есть доступ к редактированию профиля</p>
        </li>
    </ul>
    <h2>Почему мне здесь оставаться?</h2>
    <ul>
        <li>
            <p>тысячи посещений каждый день</p>
        </li>
        <li>
            <p>сотни тем абсолютно на разные темы</p>
        </li>
        <li>
            <p>сотни специалистов, которые смогут ответить на ваши вопросы</p>
        </li>
        <li>
            <p>это возможность делиться своими знаниями и получать новые</p>
        </li>
        <li>
            <p>будьте уверены, здесь будет интересно!</p>
        </li>
    </ul>
</div>