<div class="error">
    <p><span>Внимание!</span> Вы зашли как незарегистрированный пользователь! Все ваши созданные темы будут действовать в течении 24 часов. После истечении этого времени ваши темы удаляются. Для комфортной работы зарегистрируйтесь на форуме.</p>
</div>
<div class="specialist category">
    <h2>Специалисты open<span>Forum</span> </h2>
    <form class="specialist-category">
        <table>
            <tr>
                <td>
                    <label>
                        Выбирите категорию
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <select>
                        <option>Кулинария</option>
                    </select>
                </td>
            </tr>
        </table>
    </form>
    <div class="specialist-item">
        <img src="images/admin_images/no-avatar.jpg" alt="avatar"/>
        <a href="#"><h3>Gavagn Fuskd</h3></a>
        <p class="rank">web-developer</p>
        <p class="city">Одесса</p>
    </div>
    <div class="specialist-item">
        <img src="images/admin_images/no-avatar.jpg" alt="avatar"/>
        <a href="#"><h3>Gavagn Fuskd</h3></a>
        <p class="rank">web-developer</p>
        <p class="city">Одесса</p>
    </div>
    <div class="specialist-item">
        <img src="images/admin_images/no-avatar.jpg" alt="avatar"/>
        <a href="#"><h3>Gavagn Fuskd</h3></a>
        <p class="rank">web-developer</p>
        <p class="city">Одесса</p>
    </div>
    <div class="specialist-item">
        <img src="images/admin_images/no-avatar.jpg" alt="avatar"/>
        <a href="#"><h3>Gavagn Fuskd</h3></a>
        <p class="rank">web-developer</p>
        <p class="city">Одесса</p>
    </div>
    <div class="specialist-item">
        <img src="images/admin_images/no-avatar.jpg" alt="avatar"/>
        <a href="#"><h3>Gavagn Fuskd</h3></a>
        <p class="rank">web-developer</p>
        <p class="city">Одесса</p>
    </div>
    <div class="specialist-item">
        <img src="images/admin_images/4img.jpg" alt="avatar"/>
        <a href=""><h3>Gavagn Fuskd</h3></a>
        <p class="rank">web-developer</p>
        <p class="city">Одесса</p>
    </div>
    <div class="specialist-item">
        <img src="images/admin_images/4img.jpg" alt="avatar"/>
        <a href="#"><h3>Gavagn Fuskd</h3></a>
        <p class="rank">web-developer</p>
        <p class="city">Одесса</p>
    </div>
</div>