<?php if(Session::hasFlash('add_spec')): ?>
<br>
<div class="notice">
    <p><?php Session::flash('add_spec'); ?></p>
</div>
<?php endif; ?>
<div class="block-statistic">
    <img src="<?=$data['specialist']['avatar']?>" alt="foto"/>
    <h2><?=$data['specialist']['firstname']?> <?=$data['specialist']['lastname']?></h2>
    <?php if(isset($_SESSION['auth_user'])&&Session::get('id') != $data['specialist_id']): ?>
    <div class="btn-action">
        <?php if($data['btn_add']): ?>
        <a href="#" class="disabled">Добавлен</a> |
        <?php else: ?>
        <a href="/specialists/view/<?=$data['specialist_id']?>/add">Добавить</a> |
        <?php endif; ?>
        <a href="/user/messages/new/<?=$data['specialist_id']?>/">Задать вопрос</a>
    </div>
    <?php endif; ?>
    <div class="table-statistic">
        <table class="table table-striped">
            <tr>
                <td class="td-title">
                    Категория:
                </td>
                <td>
                    <span class="bold"><?=$data['specialist']['category']?></span>
                </td>
            </tr>
            <tr>
                <td>
                    Специальность:
                </td>
                <td>
                    <span class="bold"><?=$data['specialist']['rank']?></span>
                </td>
            </tr>
            <tr>
                <td>
                    Возраст:
                </td>
                <td>
                    <span class="bold"><?=$data['age']?> лет</span>
                </td>
            </tr>
            <tr>
                <td>
                    Город:
                </td>
                <td>
                    <span class="bold"><?=$data['specialist']['city']?></span>
                </td>
            </tr>
            <tr>
                <td>
                    Созданных тем:
                </td>
                <td>
                    <span class="bold"><?=$data['user_topics']?></span>
                </td>
            </tr>
            <tr>
                <td>
                    Ответов:
                </td>
                <td>
                    <span class="bold"><?=$data['user_answers']?></span>
                </td>
            </tr>
            <tr>
                <td>
                    Популярные темы:
                </td>
                <td>
                    <span class="bold">
                        <?php if(!empty($data['popular_topics'])): ?>
                        <?php for($i=0;$i<count($data['popular_topics']);$i++): ?>
                        <a href="/forum/view/1/<?=$data['popular_topics'][$i]['topic_id']?>"><?=$data['popular_topics'][$i]['subject']?>(<?=$data['popular_topics'][$i]['count']?> просмотров). | </a>
                        <?php endfor; ?>
                        <?php elseif(!empty($data['last_topics'])): ?>
                        <?php for($i=0;$i<count($data['last_topics']);$i++): ?>
                        <a href="/forum/view/1/<?=$data['last_topics'][$i]['id']?>"><?=$data['last_topics'][$i]['subject']?> | </a>
                        <?php endfor; ?>
                        <?php endif; ?>
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <a href="/specialists/" class="btn-back-main">Назад</a>
</div>
<div class="block-similar-user">
    <h4 class="similar-user">Похожие специалисты</h4>
    <?php if(Session::hasFlash('nodata')): ?>
    <div class="notice">
        <?php Session::flash('nodata'); ?>
    </div>
    <?php endif; ?>
    <?php for($i=0;$i<count($data['similar']);$i++): ?>
    <?php
    $user_id = $data['similar'][$i]['id'];
    $avatar = $data['similar'][$i]['avatar'];
    $firstname = $data['similar'][$i]['firstname'];
    $lastname = $data['similar'][$i]['lastname'];
    $rank = $data['similar'][$i]['rank'];
    $city = $data['similar'][$i]['city'];
?>
    <div class="specialist category">
        <div class="specialist-item">
            <img src="<?=$avatar?>" alt="avatar"/>
            <div class="specialist-item-info">
                <a href="/specialists/view/<?=$user_id?>"><h3><?=$firstname.' '.$lastname?></h3></a>
                <p class="rank"><?=$rank?></p>
                <p class="city"><?=$city?></p>
            </div>
        </div>
    </div>
    <?php if($i == 7) break; ?>
    <?php endfor; ?>
</div>