<h2 class="admin-block-title">Редактирование темы ID <?=$data['topic_id']?></h2>
<div class="form-edit">
    <?php if(Session::hasFlash('update')): ?>
    <div class="notice">
        <p><?php Session::flash('update'); ?></p>
    </div>
    <?php endif; ?>
    <form action="/admin/topics/edit/<?=$data['topic_id']?>" method="post">
        <label>
            Заголовок темы
        </label>
        <div class="group">
            <input type="text" name="title" required maxlength="255"  value="<?=$data['topic'][0]['subject']?>" placeholder="Введите заголовок"/>
        </div>
        <label>
            Текст темы
        </label>
        <div class="group">
            <textarea id="answer" required name="text"><?=htmlspecialchars_decode($data['topic'][0]['text'])?></textarea>
        </div>
            <input type="submit"/>
    </form>
</div>